.submit-btn {
    text-align: center;
}

.card-body {
    margin: auto;
    justify-content: center;
    text-align: center;
    height: 100px;
}

@media (min-width: 481px) {
    .card {
        max-width: 1000px;
        min-width: 700px;
    }
    
@media (max-width: 480px) {
    .card{
        max-width: 1000px;
    }
}

}


